# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
    tags-ignore: [ "v*" ]  # Don't run on version tags (release workflow handles those)
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install X11 development libraries
      run: sudo apt-get update && sudo apt-get install -y libx11-dev libxi-dev libxrandr-dev libxcursor-dev libxinerama-dev libxkbcommon-dev libgl1-mesa-dev xorg-dev xvfb libayatana-appindicator3-dev

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.3'

    - name: Build
      env:
        CGO_ENABLED: 1
      run: xvfb-run -a go build -v ./...

    - name: Test
      env:
        CGO_ENABLED: 1
      run: xvfb-run -a go test -v ./...
